*
!*/
!*.txt
!*.css
!*.svg
!*.sh
!*.wsd
!*.py
!*.j2
!*.js
!*.rst
!*.pu
!*.puml
!*.plantuml
!*.iuml
!*.md
!*.yml
!*.yaml
!*.json
!*.html
!*CHANGELOG.md
!*LICENSE
!*Makefile
!*.bat
!.gitignore
!.editorconfig
