.wy-side-nav-search {
  padding-top: 5em;
  background-image: url("/template-repository/_static/images/template-repository-logo.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 5em auto;
  background-color: yellow;
}

.wy-side-nav-search .wy-dropdown > a,
.wy-side-nav-search > a {
  color: red;
}

.wy-side-nav-search > div.version {
  font-weight: bold;
  color: gray;
}

.wy-nav-top {
  background-color: red;
}

.rst-content div[class^="highlight"] pre {
  white-space: pre-wrap;
}
